{% extends 'home/base1.html.twig' %}

{% block title %}Connectez-vous
{% endblock %}

{% block body %}
	<div class="container-connexion">
		<h1 class="mb-4">Connectez-vous</h1>
		{{ form_start(form) }}
		<div class="elements">
			{{ form_row(form.nom) }}
		</div>
		<div class="elements">
			{{ form_row(form.prenom) }}
		</div>
		<div class="elements">
			{{ form_row(form.mot_de_passe) }}
		</div>
		<div class="elements">
			{{ form_row(form.mail) }}
		</div>
		<div class="elements">
			{{ form_row(form.save) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
