{% extends 'home/base1.html.twig' %}

{% block title %}Modifier {{ offre.titre }}{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/offre_edit.css') }}">
{% endblock %}
<div class="edit-wrapper">
    <a href="{{ path('app_employeur_offre_detail', {id: offre.id}) }}" class="btn-back">← Retour au détail</a>

    <div class="edit-card">
        <h1><i class="fa-solid fa-pen-to-square" style="color: rgb(12, 28, 44);"></i> Modifier l'offre</h1>

        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.entreprise) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tag) }}

            <div class="actions">
                <button type="submit" class="btn-save"><i class="fa-solid fa-floppy-disk" style="color: rgb(12, 28, 44);"></i> Sauvegarder</button>
                <a href="{{ path('app_employeur_offre_detail', {id: offre.id}) }}" class="btn-cancel">Annuler</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}