{% extends 'home/base1.html.twig' %}

{% block title %}Publier une offre – LevelUp{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/offre_add.css') }}">
{% endblock %}
<div class="new-wrapper">
    <a href="{{ path('app_employeur_dashboard') }}" class="btn-back">← Retour au dashboard</a>

    <div class="new-card">
        <h1> Publier une offre</h1>

        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.entreprise) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tag) }}

            <div class="actions">
                <button type="submit" class="btn-save"> Publier</button>
                <a href="{{ path('app_employeur_dashboard') }}" class="btn-cancel">Annuler</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}