{% extends 'home/base1.html.twig' %}

{% block title %}{{ offre.titre }} – LevelUp{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/offre_det.css') }}">
{% endblock %}
<div class="detail-wrapper">
    <a href="{{ path('app_employeur_dashboard') }}" class="btn-back">← Retour aux offres</a>

    <div class="detail-card">
        <h1>{{ offre.titre }}</h1>
        <div class="entreprise">🏢 {{ offre.entreprise }}</div>
        <div><span class="tag"><i class="fa-solid fa-tag" style="color: rgb(12, 28, 44);"></i> {{ offre.tag }}</span></div>
        <div class="description">{{ offre.description }}</div>

        <div class="actions">
            <a href="{{ path('app_employeur_offre_edit', {id: offre.id}) }}" class="btn-edit"><i class="fa-solid fa-pen-to-square" style="color: rgb(12, 28, 44);"></i> Modifier</a>
            <a href="{{ path('app_employeur_delete', {id: offre.id}) }}" onclick="return confirm('Supprimer cette offre ?')"
            class="btn-delete"><i class="fa-solid fa-trash" style="color: rgb(12, 28, 44);"></i> Supprimer</a>
        </div>
    </div>
</div>
{% endblock %}